.meGusta { 
    grid-area: 6 / 4 / 8 / 5;
    border: 3px solid #6350c5;
    background-color: #300056;
    margin-right: 5VH;
    margin-left: 5VH;
    border-radius: 5vh;
    text-align: center;
    color: #bd2093;
    padding: 5%;
    font-size: 125%;
}